<div class="row mt25 main-landing">
    <div class="main-landing-overlay"></div>
    <div class="space-gray seven columns center">
        <h3>GBV Fitness Tracking</h3>
        <p>Bring your team fitness to the next level</p>
    </div>
</div>
<div class="main-landing-container">
    <img src="/images/landing-rocket.png" class="landing-rocket" />
</div>
<div class="space-holder"></div>
<section class="popover">
    <div class="inner-popover"></div>
</section>