<div class="row mt25 main-landing">
	<div class="main-landing-overlay"></div>
    <div class="space-gray seven columns center">
    	<h3>Use fitness tracking to accelerate your group training</h3>
    	<a href="/register" class="button button-primary">Register Now</a>
    </div>
</div>
<div class="main-landing-container">
	<img src="/images/landing-rocket.png" class="landing-rocket" />
</div>
<div class="space-holder"></div>
<section class="popover">
	<div class="inner-popover"></div>
</section>