/* Specific Styles for This App */
/* Keep this stylesheet to a minimun */
/* Please use skeleton as much as possible */

/* General Styles to be used all over */
.center { text-align: center; }
.fixed { position: fixed; }
.auto { margin: auto; }
.float-right { float: right; }

.error {
	background: #DCA7A3;
	color: #D54737;
	border: 2px solid #D54737;
	border-radius: 10px;
	padding: 10px;
	clear:both;
}


/* Styles specific to the header */
.logo-header {
	width: 100%;
	height: 65px;
	background: white;
	padding: 10px 0;
	font-size:1.6em;
	line-height: 100%;
	z-index: 500000;
}

.header-anchor {
	padding: 22px;
	color: rgb(50,50,50);
	font-size: 14px;
	text-decoration: none;
}

.header-anchor:hover {
	color: #33C3F0;
}

.logo-image {
	height: 70px;
	position:fixed;
	top:10px;
	left:20px;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.logo-image:hover {
	transform: rotate(360deg);
}



/* Styles specific to the home landing page */
.main-landing {
	position: fixed;
	width: 100%;
	min-height: 600px;
	background-image: url('../images/space_landing.jpg');
	background-size: cover;
	z-index: 2;
}

.main-landing-overlay {
	position: absolute;
	top: 0; left: 0;
	width:100%;
	min-height: 600px;
	background-color: rgba(0,0,0,.6);
	z-index:500;
}

.main-landing-container {
	position:relative;
	min-height: 600px;
}

.space-gray {
	position: absolute;
	bottom: 100px;
	margin: auto;
	padding:100px;
	color: rgb(250,250,250);
	z-index: 1000;
}

.landing-rocket {
	position: absolute;
	right: 100px; bottom: 0px;
	height: 400px;
	z-index: 10000;
}

.space-holder {
	height:600px;
}

.popover {
	position: absolute;
	width: 100%;
	background: white;
	padding: 10px;
	z-index: 200000000;
}

footer {
	position: relative;
	min-height:200px;
	background: rgb(250, 250, 250);
	padding-top: 50px;
	border-top: 1px solid rgb(240,240,240);
	z-index: 200000000;
}